@font-face {
    font-family: 'Inter-Bold';
    src: url('../fonts/Inter-Bold.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('../fonts/Inter-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url('../fonts/Inter-SemiBold.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.ttf');
    font-style: normal;
    font-weight: normal;
}